{% load static %}
<html>
    <head>
        <title>Dependency scanner</title>
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
        <meta name="theme-color" content="#426ca0" />
        {% block reload%} {% endblock %}
    </head>

    <body>
        <nav>
            <div class="nav-wrapper z-depth-1">
                <a href="{% url 'home' %}" class="brand-logo">Dependency scanner</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="waves-effect waves-light">
                        <a href="{% url 'home' %}">
                            <i class="material-icons left">playlist_add</i>New scan</a>
                    </li>
                    <li class="waves-effect waves-light">
                        <a href="{% url 'in_progress' %}">
                            <i class="material-icons left">sync</i>In progress</a>
                    </li>
                    <li class="waves-effect waves-light">
                        <a href="{% url 'history' %}">
                            <i class="material-icons left">history</i>History</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="main">
            {% block body %}
            {% endblock %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>