/* depscan helpers */
body {
	background-color: #f9f9f9;
}

.depscan-green-text {
	color: #32a24a !important;
}

.depscan-green-text-hover:hover {
	color: #32a24a !important;
}

.depscan-green {
	background-color: #d1ffd4 !important;
}

.depscan-green:hover {
	background-color: #e2ffe3 !important;
}

.depscan-green-hover:hover {
	background-color: #d1ffd4 !important;
}

.depscan-red-text {
	color: #ff3c3c;
}

.depscan-red-text-hover:hover {
	color: #ff3c3c !important;
}

.depscan-red {
	background-color: #ffe7e7 !important;
}

.depscan-red:hover {
	background-color: #ffefef !important;
}

.depscan-red-hover:hover {
	background-color: #ffe7e7 !important;
}

.depscan-blue-text {
	color: #426ca0 !important;
}

.depscan-blue-text-hover:hover {
	color: #426ca0 !important;
}

.depscan-blue-border {
	border-color: #426ca0 !important;
}

.depscan-blue {
	background-color: #426ca0 !important;
}

.depscan-card {
	background-color: white;
	padding: 0 1em;
	border-radius: 0.5em;
	border-top: 0.5em solid #426ca0;
}

.depscan-card-title-wrapper {
	margin-bottom: 1em;
    color: white;
    background-color: #426ca0;
	padding-bottom: 0.5em !important;
}

.depscan-card-title {
	padding: 0 1em;
	margin: 0;
	font-size: 1.64rem;
}

.depscan-btn {
	background-color: #426ca0;
}

.depscan-btn:hover, .depscan-btn:active, .depscan-btn:focus {
	background-color: #5287c9;
}

.grey-btn {
	background-color: rgb(151, 151, 151);
}

.grey-btn:hover, .grey-btn:active, .grey-btn:focus {
	background-color: rgb(192, 192, 192);
}

.depscan-btn i, .grey-btn i {
	font-size: 1.4rem;
}

.depscan-help-card {
	background-color: #d1e5ff;
    border-radius: 5px;
    border-left: 10px solid #426ca0;
	padding: 10px !important;
	margin-bottom: 1em;
	color: #426ca0;
}

.depscan-error-card {
	background-color: #ffd1d1;
    border-radius: 5px;
    border-left: 10px solid #ff3c3c;
	padding: 10px !important;
	margin-bottom: 1em;
	color: #ff3c3c;
}

.depscan-success-card {
	background-color: #adf1b2;
    border-radius: 5px;
    border-left: 10px solid #32a24a;
	padding: 10px !important;
	margin-bottom: 1em;
	color: #32a24a;
}

.depscan-form-section {
	border-left: 5px solid #426ca0;
    margin-bottom: 1em;
}

/* Override navbar CSS */
.nav-wrapper, nav, nav .nav-wrapper i {
	line-height: 3rem;
	height: 3rem !important;
}

.nav-wrapper {
	padding: 0 5em;
}

nav, .nav-wrapper {
	background-color: #426ca0;
}

/* Override footer CSS */
footer.page-footer {
	background-color: rgb(150, 150, 150);
	margin-top: 0;
	padding-top: 0;
}

/* Override form CSS */
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid,
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #426ca0 !important;
	box-shadow: 0 1px 0 0 #426ca0 !important;
}

input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
	color: #426ca0 !important;
}

td, th {
	padding: 5px;
}

table {
	color: #426ca0;
}

table.highlight>tbody>tr:hover {
	background-color: #d1e5ff;
}

a {
	color: inherit;
}

.link-hover:hover {
	cursor: pointer;
}