{% extends "layout.html" %}
{% block body %}
<div class="container depscan-blue-text">
    <div class="row" style="margin-top: 2em; margin-bottom: 0; border-bottom: 2px solid #426ca0;">
        <h5>CVE report: {{ cve.identifier }}</h5>
    </div>
    <div class="row">
        <div class="col s12" style="margin: 1em 0">
            <a href="{% url 'dependency' cve.dependency.id %}" type="submit" class="waves-effect waves-light btn depscan-btn right">
                <i class="material-icons left">navigate_before</i>
                Back to dependency report
            </a>
        </div>
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>Info</b>
                        </h5>
                    </div>
                    <div class="col s12" style="margin-bottom: 2em;">
                        <table class="bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>CVE</b>
                                    </td>
                                    <td>{{ cve.identifier }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>CWE</b>
                                    </td>
                                    <td>{{ cve.cwe }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Published</b>
                                    </td>
                                    <td>{{ cve.published }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>CVSS</b>
                                    </td>
                                    <td>{{ cve.cvss }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Last modified</b>
                                    </td>
                                    <td>{{ cve.last_modified }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>Summary</b>
                        </h5>
                    </div>
                    <div class="col s12">
                        <p>{{ cve.summary }}</p>
                    </div>
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>Access</b>
                        </h5>
                    </div>
                    <div class="col s12" style="margin-bottom: 2em;">
                        <table class="bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Access authentication</b>
                                    </td>
                                    <td>{{ cve.access_authentication }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Access complexity</b>
                                    </td>
                                    <td>{{ cve.access_complexity }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Access vector</b>
                                    </td>
                                    <td>{{ cve.access_vector }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>Impact</b>
                        </h5>
                    </div>
                    <div class="col s12" style="margin-bottom: 2em;">
                        <table class="bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Integrity</b>
                                    </td>
                                    <td>{{ cve.integrity }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Availability</b>
                                    </td>
                                    <td>{{ cve.availability }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Confidentiality</b>
                                    </td>
                                    <td>{{ cve.confidentiality }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>References</b>
                        </h5>
                    </div>
                    <div class="col s12" style="margin-bottom: 2em;">
                        <table class="bordered highlight">
                            <thead>
                                <tr>
                                    <th>Url</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ref in cve.cvereference_set.all %}
                                <tr>
                                    <td><a href="{{ ref.url }}" target="_blank">{{ ref.url }}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>Nessus plugin</b>
                        </h5>
                    </div>
                    {% for nessus in cve.cvenessus_set.all %}
                    <div class="col s12" style="margin-bottom: 2em;">
                        <h5>
                            <b>Info</b>
                        </h5>
                        <table class="bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>NASL family</b>
                                    </td>
                                    <td>{{ nessus.nasl_family }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>NASL id</b>
                                    </td>
                                    <td>{{ nessus.nasl_id }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Title</b>
                                    </td>
                                    <td>{{ nessus.title }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Reporter</b>
                                    </td>
                                    <td>{{ nessus.reporter }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Plugin ID</b>
                                    </td>
                                    <td>{{ nessus.plugin_id }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Last seen</b>
                                    </td>
                                    <td>{{ nessus.last_seen }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Modified</b>
                                    </td>
                                    <td>{{ nessus.modified }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Published</b>
                                    </td>
                                    <td>{{ nessus.published }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Source</b>
                                    </td>
                                    <td><a href="{{ nessus.source }}" target="_blank">{{ nessus.source }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <h5>
                            <b>Description</b>
                        </h5>
                        <p>{{ nessus.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>Vulnerable configurations</b>
                        </h5>
                    </div>
                    <div class="col s12" style="margin-bottom: 2em;">
                        <table class="bordered highlight">
                            <tbody>
                                {% for conf in cve.cvevulnerableconfiguration_set.all %}
                                <tr>
                                    <td>{{ conf.title }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}