{% extends "layout.html" %} {% block body %}
<div class="container depscan-blue-text">
    <div class="row" style="margin-top: 2em; margin-bottom: 0; border-bottom: 2px solid #426ca0;">
        <h5>Dependency report: {{ dep.name }}</h5>
    </div>
    <div class="row">
        <div class="col s12" style="margin: 1em 0">
            <a href="{% url 'scan_report' dep.scan.id %}" type="submit" class="waves-effect waves-light btn depscan-btn right">
                <i class="material-icons left">navigate_before</i>
                Back to scan report
            </a>
        </div>
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>Info</b>
                        </h5>
                    </div>
                    <div class="col s12" style="margin-bottom: 2em;">
                        <table class="bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Dependency name</b>
                                    </td>
                                    <td>{{ dep.name }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Required version</b>
                                    </td>
                                    <td>{{ dep.version }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Last upstream version</b>
                                    </td>
                                    <td>{{ dep.upstream_version }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>CVEs</b>
                        </h5>
                    </div>
                    <div class="col s12">
                        <div class="col s12 depscan-help-card">
                            <b>Help:</b> Click on the name of the CVE for more information
                        </div>
                    </div>
                    <div class="col s12" style="margin: 2em 0em;">
                        <table class="highlight">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>CWE</th>
                                    <th>Published</th>
                                    <th>CVSS</th>
                                    <th>Complexity</th>
                                    <th>Vector</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if dep.cve_set.all %}
                                {% for cve in dep.cve_set.all %}
                                <tr onclick="location.href = '{% url 'cve' cve.id %}'" class="link-hover">
                                    <td>{{ cve.identifier }}</td>
                                    <td>{{ cve.cwe }}</td>
                                    <td>{{ cve.published }}</td>
                                    <td>{{ cve.cvss }}</td>
                                    <td>{{ cve.access_complexity }}</td>
                                    <td>{{ cve.access_vector }}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td><em>Empty</em></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>ExploitDB</b>
                        </h5>
                    </div>
                    <div class="col s12">
                        <div class="col s12 depscan-help-card">
                            <b>Help:</b> Click on the exploit to get more information
                        </div>
                    </div>
                    <div class="col s12" style="margin: 2em 0em;">
                        <table class="highlight">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>EDB id</th>
                                    <th>Date</th>
                                    <th>Author</th>
                                    <th>Exploit type</th>
                                    <th>Platform</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if dep.exploitdb_set.all %}
                                {% for exploit in dep.exploitdb_set.all %}
                                <tr onclick="window.open('{{ exploit.url }}','_blank');" class="link-hover">
                                    <td>{{ exploit.title }}</td>
                                    <td>{{ exploit.edb_id }}</td>
                                    <td>{{ exploit.date }}</td>
                                    <td>{{ exploit.author }}</td>
                                    <td>{{ exploit.exploit_type }}</td>
                                    <td>{{ exploit.platform }}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td>
                                        <em>Empty</em>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>CPE list</b>
                        </h5>
                    </div>
                    <div class="col s12">
                        <div class="col s12 depscan-help-card">
                            <b>Help:</b> You will find here the list of possible CPEs for this dependency
                        </div>
                    </div>
                    <div class="col s12" style="margin-bottom: 2em;">
                        <table class="bordered highlight">
                            <thead>
                                <tr>
                                    <th>CPE</th>
                                    <th>Nb. of CVE(s)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cpe in dep.cpe_set.all %}
                                <tr>
                                    <td>{{ cpe.cpe_string }}</td>
                                    <td>{{ cpe.cve_set.all | length }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>Recursive dependency</b>
                        </h5>
                    </div>
                    <div class="col s12">
                        <em>
                            <i class="material-icons left ">error_outline</i> some vulnerabilities were found</em>
                    </div>
                    <div class="col s12">
                        <em>
                            <i class="material-icons left ">check</i> no vulnerability found</em>
                    </div>
                    <div class="col s12" style="margin: 2em 0em;">
                        <table class="highlight">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Required version</th>
                                    <th>Last version</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if dep_tmp.dependency_set.all %} {% for dep_tmp in dep.dependency_set.all %} {% if dep_tmp.has_vulns %}
                                <tr onclick="location.href = '{% url 'dependency' dep.id %}'" class="depscan-red-text depscan-red link-hover">
                                    <td>{{ dep_tmp.name }}</td>
                                    <td>{{ dep_tmp.version }}</td>
                                    <td>{{ dep_tmp.upstream_version }}</td>
                                    <td>
                                        {{ dep_tmp.cve_set.all | length }} CVE(s)
                                    </td>
                                </tr>
                                {% else %}
                                <tr onclick="location.href = '{% url 'dependency' dep.id %}'" class="depscan-green-text depscan-green link-hover">
                                    <td>{{ dep_tmp.name }}</td>
                                    <td>{{ dep_tmp.version }}</td>
                                    <td>{{ dep_tmp.upstream_version }}</td>
                                    <td>
                                        <i class="material-icons">check</i>
                                    </td>
                                </tr>
                                {% endif %} {% endfor %} {% else %}
                                <tr>
                                    <td>
                                        <em>Empty</em>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}