{% extends "layout.html" %}
{% block reload%}
    <meta http-equiv="refresh" content="60" />
{% endblock %}

{% block body %}
<div class="container depscan-blue-text">
    <div class="row" style="margin-top: 2em; margin-bottom: 0; border-bottom: 2px solid #426ca0;">
        <h5>History</h5>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                    <h5 class="depscan-card-title"></h5>
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5><b>Previous scans</b></h5>
                    </div>
                    <div class="col s12">
                        <div class="col s12 depscan-help-card">
                            <b>Help:</b> Click on the project name to see the full report.
                            <div class="col s12">
                                <em><i class="material-icons left ">error_outline</i> some vulnerabilities were found</em>
                            </div>
                            <div class="col s12">
                                <em><i class="material-icons left ">check</i> no vulnerability found</em>
                            </div>
                        </div>
                    </div>
                    <div class="col s12" style="margin: 2em 0em; margin-top: 1em;">
                        <table class="highlight">
                            <thead>
                                <tr>
                                    <th>Scan name</th>
                                    <th>Language</th>
                                    <th>Creation</th>
                                    <th>Last scan</th>
                                    <th>Next scan</th>
                                    <th>State</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if scans %}
                                {% for scan in scans %}
                                {% if scan.state == 'in_progress' %}
                                <tr onclick="location.href = '{% url 'scan_report' scan.id %}'" class="link-hover">
                                    <td>{{ scan.name }}</td>
                                    <td>{{ scan.language }}</td>
                                    <td>{{ scan.date | date:"D d M Y" }}</td>
                                    {% if scan.last_scan %}
                                    <td>{{ scan.last_scan | date:"D d M Y" }}</td>
                                    {% else %}
                                    <td>
                                        <em>Never</em>
                                    </td>
                                    {% endif %}
                                    {% if scan.next_scan %}
                                    <td>{{ scan.next_scan | date:"D d M Y" }}</td>
                                    {% else %}
                                    <td>
                                        <em>Not scheduled</em>
                                    </td>
                                    {% endif %}
                                    <td>In progress</td>
                                    <td></td>
                                </tr>
                                {% else %}
                                    {% if scan.has_vulns or scan.state == "error" %}
                                    <tr onclick="location.href = '{% url 'scan_report' scan.id %}'" class="link-hover depscan-red-text depscan-red">
                                        <td>{{ scan.name }}</td>
                                        <td>{{ scan.language }}</td>
                                        <td>{{ scan.date | date:"D d M Y" }}</td>
                                        {% if scan.last_scan %}
                                        <td>{{ scan.last_scan | date:"D d M Y" }}</td>
                                        {% else %}
                                        <td>
                                            <em>Never</em>
                                        </td>
                                        {% endif %} {% if scan.next_scan %}
                                        <td>{{ scan.next_scan | date:"D d M Y" }}</td>
                                        {% else %}
                                        <td>
                                            <em>Not scheduled</em>
                                        </td>
                                        {% endif %}
                                        <td>{{ scan.state }}</td>
                                        <td>
                                            {% if scan.has_vulns %}
                                            {{ scan.tot_cve }} CVE(s) | {{ scan.tot_exploit }} exploit(s)
                                            {% else %}
                                            <i class="material-icons">error_outline</i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr onclick="location.href = '{% url 'scan_report' scan.id %}'" class="link-hover depscan-green-text depscan-green">
                                        <td>{{ scan.name }}</td>
                                        <td>{{ scan.language }}</td>
                                        <td>{{ scan.date | date:"D d M Y" }}</td>
                                        {% if scan.last_scan %}
                                        <td>{{ scan.last_scan | date:"D d M Y" }}</td>
                                        {% else %}
                                        <td>
                                            <em>Never</em>
                                        </td>
                                        {% endif %} {% if scan.next_scan %}
                                        <td>{{ scan.next_scan | date:"D d M Y" }}</td>
                                        {% else %}
                                        <td>
                                            <em>Not scheduled</em>
                                        </td>
                                        {% endif %}
                                        <td>{{ scan.state }}</td>
                                        <td>
                                            <i class="material-icons">check</i>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td><em>Empty</em></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}