{% extends "layout.html" %}
{% block body %}
<div class="container depscan-blue-text">
    <div class="row" style="margin-top: 2em; margin-bottom: 0; border-bottom: 2px solid #426ca0;">
        <h5>New dependency scan</h5>
    </div>
    <div class="row">
        <div class="col s12" style="margin-top: 1em;">
            <div class="col s12 depscan-help-card">
                <b>Help:</b> Paste here the link to your python / ruby code repository. Your repository must be publicly accessible.<br>This project only supports pip requirements files and gem files.
            </div>
        </div>
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                    <h5 class="depscan-card-title">Add a new repository</h5>
                </div>
                <div class="col s12">
                    <div class="col s12">
                        <form method="post" action=".">
                            {% csrf_token %}
                            <div class="input-field col s12">
                                <input id="ID" name="name" type="text" class="validate" style="margin-bottom: 1em;" required="true"/>
                                <label for="ID">Scan name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="ID" name="repo_link" type="text" class="validate" style="margin-bottom: 1em;" required="true"/>
                                <label for="ID">Git repository link</label>
                            </div>
                            <div class="col s12 center" style="margin: 1em 0">
                                <button type="submit" class="waves-effect waves-light btn depscan-btn">
                                    <i class="material-icons left">search</i>
                                    Start scanning
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}