{% extends "layout.html" %}
{% block reload%}
    <meta http-equiv="refresh" content="2" />
{% endblock %}

{% block body %}
<div class="container depscan-blue-text">
    <div class="row" style="margin-top: 2em; margin-bottom: 0; border-bottom: 2px solid #426ca0;">
        <h5>Scan in progress ...</h5>
    </div>
    <div class="row">
        <div class="col s12" style="margin-top: 1em;">
            <div class="col s12 depscan-help-card">
                <b>Help:</b> You will find here the list of all the scans currently in progress.
            </div>
        </div>
        {% for scan in scans %}
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                    <h5 class="depscan-card-title">{{ scan.name }}</h5>
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5><b>Info</b></h5>
                    </div>
                    <div class="col s12">
                        <table class="bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Name</b>
                                    </td>
                                    <td>{{ scan.name }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Repository link</b>
                                    </td>
                                    <td>{{ scan.repository }}</td>
                                </tr>
                                <tr>
                                    <td><b>Language</b></td>
                                    {% if scan.language %}
                                    <td>{{ scan.language }}</td>
                                    {% else %}
                                    <td><em>Not found yet</em></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>
                                        <b>Creation</b>
                                    </td>
                                    <td>{{ scan.date | date:"D d M Y" }} {{ scan.date | time:"H:i" }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>State</b>
                                    </td>
                                    <td>{{ scan.state }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-top: 1em;">
                        <h5><b>Tasks</b></h5>
                    </div>
                    {% if scan.scantask_set.all %}
                    <div class="col s12" style="margin-bottom: 2em;">
                        <table>
                            <tbody>
                                {% for task in scan.scantask_set.all %}
                                <tr>
                                    <td>
                                        <b>{{ task.name }}</b>
                                    </td>
                                    <td>{{ task.date | date:"D d M Y" }} {{ task.date | time:"H:i" }}</td>
                                    {% if task.state == 'in_progress' %}
                                    <td class="right" style="padding: 0">
                                        <i class="material-icons left">sync</i>
                                    </td>
                                    {% else %}
                                        {% if task.state == 'done' %}
                                        <td class="right depscan-green-text" style="padding: 0">
                                            <i class="material-icons left">check</i>
                                        </td>
                                        {% else %}
                                        <td class="right depscan-red-text" style="padding: 0">
                                            <i class="material-icons left">error_outline</i>
                                        </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    <div class="col s12 center" style="margin-bottom: 2em;">
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}