{% extends "layout.html" %}
{% block body %}
<div class="container depscan-blue-text">
    <div class="row" style="margin-top: 2em; margin-bottom: 0; border-bottom: 2px solid #426ca0;">
        <h5>Scan report: {{ scan.name }}</h5>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                    <h5 class="depscan-card-title">{{ scan.name }}</h5>
                    <a href="{% url 'restart_scan' scan.id %}" type="submit" class="waves-effect waves-light right white-text" style="margin-left: 1em; margin-top: -1.5em;">
                        <i class="material-icons left">sync</i>
                        Restart scan now
                    </a>
                    <a href="{% url 'delete_scan' scan.id %}" type="submit" class="waves-effect waves-light right white-text" style="margin-left: 1em; margin-top: -1.5em;">
                        <i class="material-icons left">delete</i>
                        Delete scan
                    </a>
                    {% if scan.next_scan %}
                    <a href="{% url 'disable_auto_scan' scan.id %}" type="submit" class="tooltipped waves-effect waves-light right white-text" data-position="bottom" data-delay="50" data-tooltip="When enabled, a scan will be restarted every day at midnight" style="margin-left: 1em; margin-top: -1.5em;">
                        <i class="material-icons left">check_box</i>
                        Disable auto scan
                    </a>
                    {% else %}
                    <a href="{% url 'enable_auto_scan' scan.id %}" type="submit" class="tooltipped waves-effect waves-light right white-text" data-position="bottom" data-delay="50" data-tooltip="When enabled, a scan will be restarted every day at midnight" style="margin-left: 1em; margin-top: -1.5em;">
                        <i class="material-icons left">check_box_outline_blank</i>
                        Enable auto scan
                    </a>
                    {% endif %}
                </div>
                <div class="col s12">
                    {% if scan.has_vulns %}
                    <div class="col s12 depscan-red-text">
                        <h5><i class="material-icons left">error_outline</i> Some vulnerabilities were found: {{ scan.tot_cve }} CVE(s) | {{ scan.tot_exploit }} exploit(s)</h5>
                    </div>
                    {% elif scan.state == "error" %}
                    <div class="col s12 depscan-red-text">
                        <h5>
                            <i class="material-icons left">error_outline</i> Scan failed</h5>
                    </div>
                    {% else %}
                    <div class="col s12">
                        <h5 style="font-size: 1.5em;">
                            <i class="material-icons left depscan-green-text">check</i> No vulnerability found for now !</h5>
                    </div>
                    {% endif %}
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>Info</b>
                        </h5>
                    </div>
                    <div class="col s12">
                        <table class="bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Name</b>
                                    </td>
                                    <td>{{ scan.name }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Repository link</b>
                                    </td>
                                    <td><a href="{{ scan.repository }}" target="_blank">{{ scan.repository }}</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Language</b>
                                    </td>
                                    {% if scan.language %}
                                    <td>{{ scan.language }}</td>
                                    {% else %}
                                    <td>
                                        <em>Not found yet</em>
                                    </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>
                                        <b>Creation</b>
                                    </td>
                                    <td>{{ scan.date | date:"D d M Y" }} {{ scan.date | time:"H:i" }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Last scan</b>
                                    </td>
                                    {% if scan.last_scan %}
                                    <td>{{ scan.last_scan | date:"D d M Y" }} {{ scan.last_scan | time:"H:i" }}</td>
                                    {% else %}
                                    <td><em>Never</em></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>
                                        <b>Next scan</b>
                                    </td>
                                    {% if scan.next_scan %}
                                    <td>{{ scan.next_scan | date:"D d M Y" }} {{ scan.next_scan | time:"H:i" }}</td>
                                    {% else %}
                                    <td><em>Not scheduled</em></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>
                                        <b>State</b>
                                    </td>
                                    <td>{{ scan.state }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-top: 1em;">
                        <h5>
                            <b>Tasks</b>
                        </h5>
                    </div>
                    {% if scan.scantask_set.all %}
                    <div class="col s12" style="margin-bottom: 2em;">
                        <table>
                            <tbody>
                                {% for task in scan.scantask_set.all %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.date | date:"D d M Y" }} {{ task.date | time:"H:i" }}</td>
                                    {% if task.state == 'in_progress' %}
                                    <td class="right" style="padding: 0">
                                        <i class="material-icons left">sync</i>
                                    </td>
                                    {% else %} {% if task.state == 'done' %}
                                    <td class="right depscan-green-text" style="padding: 0">
                                        <i class="material-icons left">check</i>
                                    </td>
                                    {% else %}
                                    <td class="right depscan-red-text" style="padding: 0">
                                        <i class="material-icons left">error_outline</i>
                                    </td>
                                    {% endif %} {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="depscan-card z-depth-1 col s12" style="margin-top: 1em; padding: 0;">
                <div class="col s12 depscan-card-title-wrapper">
                </div>
                <div class="col s12">
                    <div class="col s12" style="margin-bottom: 0;">
                        <h5>
                            <b>Dependency list</b>
                        </h5>
                    </div>
                    <div class="col s12">
                        <div class="col s12 depscan-help-card">
                            <b>Help:</b> Click on the name of the dependency for more information
                            <div class="col s12">
                                <em><i class="material-icons left ">error_outline</i> some vulnerabilities were found</em>
                            </div>
                            <div class="col s12">
                                <em><i class="material-icons left ">check</i> no vulnerability found</em>
                            </div>
                        </div>
                    </div>
                    <div class="col s12" style="margin: 2em 0em; margin-top: 1em;">
                        <table class="highlight">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Required version</th>
                                    <th>Last version</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dep in scan.dependency_set.all %}
                                {% if dep.has_vulns %}
                                <tr onclick="location.href = '{% url 'dependency' dep.id %}'" class="depscan-red-text depscan-red link-hover">
                                    <td>{{ dep.name }}</td>
                                    <td>{{ dep.version }}</td>
                                    <td>{{ dep.upstream_version }}</td>
                                    <td>
                                        {{ dep.cve_set.all | length }} CVE(s) | {{ dep.exploitdb_set.all | length }} exploit(s)
                                    </td>
                                </tr>
                                {% else %}
                                <tr onclick="location.href = '{% url 'dependency' dep.id %}'" class="depscan-green-text depscan-green link-hover">
                                    <td>{{ dep.name }}</td>
                                    <td>{{ dep.version }}</td>
                                    <td>{{ dep.upstream_version }}</td>
                                    <td>
                                        <i class="material-icons">check</i>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}